<div class="todo-list">
  <h2>Add task</h2>
  <div class="input-group mb-3 mx-auto" style="width: 70%">
    <input
      type="text"
      class="form-control"
      id="newTodo"
      name="newTodo"
      placeholder="E.g Fix code later..."
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
      [formControl]="newTodo"
    />
    <button
      (click)="createTodo()"
      class="btn btn-outline-success"
      type="button"
      id="button-addon2"
    >
      Create
    </button>
  </div>
  <h2>To do list</h2>
  <div *ngFor="let todo of todos; let i = index" class="todo">
    <div>{{ i + 1 }}</div>
    <div
      (click)="completeTodo(i)"
      class="todo-content {{ todo.isComplete ? 'completed' : '' }}"
    >
      {{ todo.content }}
    </div>
    <button type="button" (click)="deleteTodo(i)" class="btn btn-danger btn-sm">
      Delete
    </button>
  </div>
</div>
